* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.page{
    height: 100vh;
    display:grid;
    grid-template-columns: 1fr 7fr;
}
.sidebar {
    background-color: white;
}

.maincontainer{
    background-color: yellow;
}



