<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
</head>
<body>
<nav>
    <a href="/inventory/products/brands">Brands</a>
    <a href="/inventory/products/categories">Categories</a>
</nav>
    <h2>Product List</h2>
<a href="{% url 'inventory:product_create' %}">Add Product</a>
<ul>
    {% for product in products %}
        <li>{{ product.name }} - {{ product.price }}
            <a href="{% url 'inventory:product_update' product.pk %}">Edit</a>
            <a href="{% url 'inventory:product_delete' product.pk %}">Delete</a>
        </li>
    {% empty %}
    <li>No products available.</li>
    {% endfor %}

</ul>
</body>
</html>